.logotipos {
    color: white;
    height: 70px;
}

.logotipo-rckt {
    border-radius: 50%;
    padding: 0 4% 2% 0;
    height: 70px;
}

@media (min-width: 720px) { 
    .logotipos {
        padding: 2% 4% 2% 0;
        height: 125px;
    }
    .logotipo-rckt {
        padding: 2% 4% 2% 0;
        height: 125px;
    }
 }