.rodape {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 185px;
    margin-bottom: 10px;
}

@media (min-width: 768px) { 
    .rodape {
        padding-top: 2%;
        padding-bottom: 1%;
    }
 }